<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.elearn.infrastructure.mapper.WordMapper">
    
    <insert id="insert" parameterType="com.changjiang.elearn.domain.model.Word">
        INSERT INTO t_word (
            id, document_id, word, pronunciation, translation,
            audio_path, create_time, update_time
        ) VALUES (
            #{id}, #{documentId}, #{word}, #{pronunciation}, #{translation},
            #{audioPath}, #{createTime}, #{updateTime}
        )
    </insert>

    <select id="selectById" resultType="com.changjiang.elearn.domain.model.Word">
        SELECT * FROM t_word WHERE id = #{id}
    </select>

    <select id="selectDailyWords" resultType="com.changjiang.elearn.domain.model.Word">
        SELECT * FROM t_word 
        WHERE document_id = #{documentId}
        ORDER BY create_time
        LIMIT #{offset}, #{limit}
    </select>

    <update id="update" parameterType="com.changjiang.elearn.domain.model.Word">
        UPDATE t_word
        SET pronunciation = #{pronunciation},
            translation = #{translation},
            audio_path = #{audioPath},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>
</mapper> 